/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
    background-color: #F4F4F4;
    font-family: 'Lato', sans-serif;
}

.navbar-default li.dropdown i {
    color: #FC4A1A;
}

.navbar-default {
    background-color: #66B9BF;
}

.navbar-default .navbar-brand {
    color: #262228;
    font-family: 'Permanent Marker', cursive;
}

.btn-primary {
    background-color: #FC4A1A;
    border: 0px;
    color: #262228;
}

#add-task-main-btn:hover, #add-task-main-btn:active, #add-task-main-btn:focus {
    background-color: #66B9BF;
}

a {
    color: #66B9BF;
}

.task-display {
    background-color: white;
}

.task-display table {
    font-size: 18px;
}

#status-column-header {
    width: 20px;
}
#task-content-header {
    width: 380px;
}
