<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Lato|Permanent+Marker"
  rel="stylesheet">
  <link rel="stylesheet" href="app.css">
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js">
  </script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="todo/todo.module.js"></script>
  <script src="todo/todo.component.js"></script>
  <script src="todo/todo.service.js"></script>
</head>


<body ng-controller="MainCtrl as mainCtrl">

<nav class="navbar navbar-default">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Todo List
            </a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling
    -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"
                                    ng-click="mainCtrl.open('tasks')"
                                    >
                                    Tasks
                            </a></li>
                            <li><a href="#"
                                    ng-click="mainCtrl.open('lists')">
                                    Lists
                            </a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div ng-switch on="mainCtrl.tab"> 
                    <div ng-switch-when="tasks">
                        <todo-component></todo-component>
                    </div>
                    <div ng-switch-when="lists">
                        Lists test
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://use.fontawesome.com/734fdbb573.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
