<h1 class="text-center">Todo List</h1>

<div class="task-input">
    <form class="form-horizontal">
        <div class="form-group">
            <input class="form-control input-lg" ng-model="$ctrl.taskInput">
        </div>
        <div 
            class="form-group">
            <input href="#" 
                ng-click="$ctrl.addTask($ctrl.taskInput)"
                class="btn btn-primary"
                type="submit" value="Add task">
            <a href="#" 
                class="btn btn-primary">
                Cancel
            </a>
            <a href="#" class="btn"
                ng-click="$ctrl.toggleFilter()">
                toggle filters
            </a>
        </div>
    </form>


    <div ng-show="$ctrl.showFilter" class="filters">
        testing
        <label for="complete-task-filter">
            Complete
        </label>
        <input type="checkbox" id="complete-task-filter"
            ng-model="$ctrl.taskFilter['complete']">
    </div>

    {{ $ctrl|json }}

    <div class="task-display">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="#"
                            ng-click="$ctrl.taskFilter['complete'] =
                                      false;"
                            ng-show="(!$ctrl.taskFilter
                                      .hasOwnProperty('complete'))"
                            >
                            Status
                        </a>
                        <a href="#"
                            ng-click="$ctrl.taskFilter['complete'] =  
                                      true;"
                            ng-show="$ctrl.taskFilter['complete'] ===
                                      false;"
                        >
                            Showing Incomplete
                        </a>
                        <a href="#"
                            ng-click="$ctrl.clearFilter()"
                            ng-show="$ctrl.taskFilter['complete']"
                        >
                            Showing Complete
                        </a>
                    </th>
                    <th>
                        <a href="#" 
                            ng-click="$ctrl.sortType='content';
                                      $ctrl.sortReverse=(!$ctrl.sortReverse);"
                        >
                            Task
                            <span ng-show="$ctrl.sortType=='content' &&
                                           (!$ctrl.sortReverse);"
                                class="fa fa-caret-down">
                            </span>
                            <span ng-show="$ctrl.sortType=='content' &&
                                           ($ctrl.sortReverse);"
                                class="fa fa-caret-up">
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#"
                            ng-click="$ctrl.sortType='created';
                                      $ctrl.sortReverse=(!$ctrl.sortReverse);"
                        >
                            Created
                            <span ng-show="$ctrl.sortType=='created' &&
                                           (!$ctrl.sortReverse)"
                                class="fa fa-caret-down">
                            <span ng-show="$ctrl.sortType=='created' &&
                                           $ctrl.sortReverse"
                                class="fa fa-caret-up">
                        </th>
                    <th>Delete</th>
                </tr>
            <thead>
            <tbody>
                <tr ng-repeat="task in $ctrl.taskList()
                    | filter:$ctrl.taskFilter
                    | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                    <td>
                        <input type="checkbox" ng-model="task.complete">
                    </td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.created | date: 'medium' }}</td>
                    <td>
                        <a href="#" ng-click="$ctrl.removeTask(task)">
                            delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
